.download {
  padding-bottom: 100px;
  
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0 0 30px;
  }

  &__text {
    margin: 0 0 60px;

    &-wrapper {
      max-width: 512px;
      padding-left: 39px;
    }
  }

}
