.header {
  padding: 25px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (width <= 760px) {
      flex-direction: column;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__location {
    margin-right: 40px;
  }
}
