---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Promo from "../components/Promo.astro"
import Advantages from "../components/Advantages.astro"
import "../styles/header.scss";
import "../styles/promo.scss";
import "../styles/advantages.scss";
---

<Layout title="Main page">
  <main>
    <Header />
    <Promo />
    <Advantages />
  </main>
</Layout>
