---

---

<section class="promo">
  <div class="promo__container container">
    <h1 class="promo__title title">Ремонт компьютеров на дому c гарантией</h1>
    <p class="promo__paragraph paragraph">
      Добро пожаловать на сайт компании "Цифровой Рехаб". Мы специализируемся на
      профессиональном ремонте и обслуживании компьютеров и ноутбуков
    </p>
    <button class="btn promo__btn">Заказать звонок</button>
    <div class="promo__island">
      <button class="promo__close-btn promo__island-btn"></button>
      <p class="promo__island-text">
        <span class="color-red"
          >Мы открыты и принимаем заказы до 21:00,
        </span>позвоните сейчас и мы сделаем скидку 15%
      </p>
      <button class="promo__discount-btn promo__island-btn"
        >Получить скидку</button
      >
    </div>
  </div>
</section>
